<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="LoginTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.SauceLoginTest"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="End2EndTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.SauceLoginTest"/>
            <class name="com.tests.AddingProductToCartTest"/>
        </classes>
    </test>
</suite>